body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
#header-container {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    justify-content: center;
    }
  
#selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
#image-container {
    display: none;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 2%;
    justify-content: center;
    }
  
#test-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 2%;
    justify-content: center;
    }
  
h1 {
    font-weight: bold;
    color: #fa4d00;
    }

  /* img {
    height: 173px;
  }
   */
  /*
  transform does get the images to the right size but still takes up the same ammount of space as the original image making it appear to have extra padding when it has 0 padding
  .pts-2 {
    transform: scale(.8);
  }
  */

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pts-1 {
        height: 300px;
    }
    .pts-2 {
        height: 255px;   
    }
    .pts-3 {
        height: 216.75px;
    }
    .pts-4 {
        height: 184.24px;
    }
    .pts-5 {
        height: 156.6px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .pts-1 {
        height: 300px;
    }
    .pts-2 {
        height: 255px;   
    }
    .pts-3 {
        height: 216.75px;
    }
    .pts-4 {
        height: 184.24px;
    }
    .pts-5 {
        height: 156.6px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .pts-1 {
        height: 300px;
    }
    .pts-2 {
        height: 255px;   
    }
    .pts-3 {
        height: 216.75px;
    }
    .pts-4 {
        height: 184.24px;
    }
    .pts-5 {
        height: 156.6px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  } */