body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
#header-container {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    justify-content: center;
    }
  
#selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    }
    ul a {
        color: white;
        background-color: #fa4d00;
        opacity: 80%;
        text-decoration: none;
        display:flex;
        justify-content: center;
    }
    ul {
        display: flex;
        padding: 2%;
        margin: 0;
        flex-direction: column;
    }
    li {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    li a {
        padding: 5%;
        border-radius: 5%;
        margin-top: 1%;
    }
    .menu {
        display: none;
    }
    .menu.active {
        display: flex;
    }
  
 #image-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    }

#api-container {
    display: flex;
    margin-top: 2%;
}
#api-container img {
    max-width: 90%;
    max-height: 90%;
}
#fan-choice {
    display:none;
}

h1 a {
    font-weight: bold;
    color: #fa4d00;
    text-decoration: none;
    }

  @media only screen and (max-width: 767px){
    .pts-1 {
        height: 35vh;
      }
    
    .pts-2 {
        height: 28vh;
    }
    
    .pts-3 {
        height: 22.4vh;
    }
    
    .pts-4 {
        height: 17.9vh;
    }
    
    .pts-5 {
        height: 14.1vh;
    }
    .pts-6 {
        display: none;
    }
    .pts-7 {
        display: none;
    }
    .pts-8 {
        display: none;
    }
    .pts-9 {
        display: none;
    }
    .pts-10 {
        display: none;
    }
  }

  @media only screen and (min-width: 768px){
    .pts-1 {
        height: 50vh;
    }
    .pts-2 {
        height: 42.5vh;   
    }
    .pts-3 {
        height: 36.1vh;
    }
    .pts-4 {
        height: 30.7vh;
    }
    .pts-5 {
        height: 26.1vh;
    }
    .pts-6 {
        height: 22.2vh;
    }
    .pts-7 {
        height: 18.9vh;   
    }
    .pts-8 {
        height: 16.1vh;
    }
    .pts-9 {
        height: 13.7vh;
    }
    .pts-10 {
        height: 11.6vh;
    }
  }