body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
#header-container {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    justify-content: center;
    }
  
#selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
#image-container {
    display: none;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    }
  
#fan-choice {
    display:none;
}

h1 {
    font-weight: bold;
    color: #fa4d00;
    }

  @media only screen and (max-width: 767px){
    .pts-1 {
        height: 35vh;
      }
    
    .pts-2 {
        height: 30vh;
    }
    
    .pts-3 {
        height: 25vh;
    }
    
    .pts-4 {
        height: 20vh;
    }
    
    .pts-5 {
        height: 15vh;
    }
    .pts-6 {
        display: none;
    }
    .pts-7 {
        display: none;
    }
    .pts-8 {
        display: none;
    }
    .pts-9 {
        display: none;
    }
    .pts-10 {
        display: none;
    }
  }

  @media only screen and (min-width: 768px){
    .pts-1 {
        height: 50vh;
    }
    .pts-2 {
        height: 45vh;   
    }
    .pts-3 {
        height: 40vh;
    }
    .pts-4 {
        height: 35vh;
    }
    .pts-5 {
        height: 30vh;
    }
    .pts-6 {
        height: 25vh;
    }
    .pts-7 {
        height: 20vh;   
    }
    .pts-8 {
        height: 15vh;
    }
    .pts-9 {
        height: 10vh;
    }
    .pts-10 {
        height: 5vh;
    }
  }